.bodyImg3 {
  height: 250px;
  width: 400px;
  margin-right: 10px;
}
.bodyImg3Text {
  /* background-color: aqua; */
  height: 250px;
  width: 400px;
  margin-left: 10px;
}
.bodyImg3TextTitle {
  font-size: 50px;
  font-weight: bold;
}
.bodyImg3TextContent1 {
  font-size: 20px;
  font-weight: bold;
  color: #465af4;
}
.bodyImg3TextContent2 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5%;
}
.bodyImg3TextButton {
  background-color: #3247e5;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 10%;
  cursor: pointer;
  color: white;
}
.bodyImg3TextButton:hover {
  background-color: #051dce; /* Change to the desired green color */
}
